.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.logo{
    margin-left: 100px;
}

.itemCount{
    display: flex;
    font-size: 0.8rem;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: brown;
    transform: translate(-50px 20px);
    padding: 1px;

}

.cart-button{
    display: flex;
    margin-right: 50px;
    background-color:transparent;
    color: black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    /* width: 40px;
    height: 40px; */

}

.cart-img{
    width: 1.5rem;
    height: 1.5rem;
}

@media only screen and (max-width: 400px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: antiquewhite;
    }
    
    .logo{
        margin-left: 20px;
        font-size: 1.7em;
    }
    
    .itemCount{
        display: flex;
        font-size: 0.5rem;
    }
    
    .cart-button{
        margin-right: 10px;
    }
    

    .cart-img{
        width: 1rem;
    }
}