.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: antiquewhite;
}

.logo{
    margin-left: 100px;
}

.itemCount{
    display: flex;
    font-size: 0.8rem;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: brown;
    transform: translate(-50px 20px);
}

.cart-button{
    display: flex;
    margin-right: 50px;
    background-color:transparent;
    color: black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    /* width: 40px;
    height: 40px; */

}

.cart-img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px;
}
