.cart-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 2em;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em ;
    height: 6rem;
    box-shadow: 1px 3px 3px white;
}

.item-img{
    width: 4em;
    margin-right: 7px ;
}

.item-title{
    font-size: 0.5rem;
    width: 80%;
    justify-self: start;
}

.item-price{
    font-size: 0.7rem;
    font-weight: bold;
}

.remove-button{
    font-size: 0.6em;
    background-color: transparent;
    border: none;
}
.remove-button-picture{
    width: 2.3em;
}

.remove-button-picture:active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

a{
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 500px) {

.cart-container{
    width: 90%;
}

    .item-img{
        width: 3em;
        margin-right: 7px ;
    }
}